
.a{
  overflow-y : hidden;
}
.c{
  text-align: center;
  justify-content: center;
}
.c p{
  font-size: 16px;
  margin: 10px 0 42px;
}
.d{
  font-size: 32px;
  font-weight: normal;
}
.button{
  display: inline-block;
  padding: 18px 32px;
  text-decoration: none;
  color: #000;
  background: #fff;
  transition: .4s;
}
.e{
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(top.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
